/*body {
     font-family: 'Roboto', sans-serif;
}*/
* {
    box-sizing: border-box;
  }
  .box {
    width: 100px;
    height: 100px;
  
    padding: 20px;
    margin: 10px;
  
  border: 1px solid; black
  }
  @font-face {
    font-family: Roboto;
     src: url("assets/fonts/Roboto.ttf");
  .left {
      width: 25%;
      height: 100%;
      float: left;
    }
   
    .right {
      width: 75%;
      position: relative;
    }